.elementor-26377 .elementor-element.elementor-element-50fe862 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: center;
    --padding-top: 1px;
    --padding-bottom: 1px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-26377 .elementor-element.elementor-element-50fe862:not(.elementor-motion-effects-element-type-background),
.elementor-26377 .elementor-element.elementor-element-50fe862>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-25830b4);
}

.elementor-26377 .elementor-element.elementor-element-9edb921 {
    --display: flex;
    --padding-top: 1px;
    --padding-bottom: 1px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-26377 .elementor-element.elementor-element-d9b4346>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-26377 .elementor-element.elementor-element-d9b4346 .elementor-icon-list-item:not(:last-child):after {
    content: "";
    border-color: #ddd;
}

.elementor-26377 .elementor-element.elementor-element-d9b4346 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child):after {
    border-top-style: solid;
    border-top-width: 1px;
}

.elementor-26377 .elementor-element.elementor-element-d9b4346 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
    border-left-style: solid;
}

.elementor-26377 .elementor-element.elementor-element-d9b4346 .elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
    border-left-width: 1px;
}

.elementor-26377 .elementor-element.elementor-element-d9b4346 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-26377 .elementor-element.elementor-element-d9b4346 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-26377 .elementor-element.elementor-element-d9b4346 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-26377 .elementor-element.elementor-element-d9b4346 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-26377 .elementor-element.elementor-element-d9b4346 .elementor-icon-list-item>a {
    font-weight: normal;
}

.elementor-26377 .elementor-element.elementor-element-d9b4346 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var( --e-global-color-secondary);
}

.elementor-26377 .elementor-element.elementor-element-d9b4346 .elementor-icon-list-text {
    transition: color 0.4s;
}

.elementor-26377 .elementor-element.elementor-element-ca2fb98 {
    --display: flex;
    --min-height: 0px;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --gap: 0% 3%;
    --row-gap: 0%;
    --column-gap: 3%;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 1px;
    --padding-bottom: 1px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-26377 .elementor-element.elementor-element-ca2fb98:not(.elementor-motion-effects-element-type-background),
.elementor-26377 .elementor-element.elementor-element-ca2fb98>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-25830b4);
}

.elementor-26377 .elementor-element.elementor-element-f1a8ac2>.elementor-widget-container:hover {
    --e-transform-scale: 0.9;
}

.elementor-26377 .elementor-element.elementor-element-f1a8ac2 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-26377 .elementor-element.elementor-element-f1a8ac2 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-26377 .elementor-element.elementor-element-f1a8ac2 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-26377 .elementor-element.elementor-element-f1a8ac2 .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-26377 .elementor-element.elementor-element-94de47c>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-26377 .elementor-element.elementor-element-7b552b2 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --align-items: center;
    --gap: 0px 20px;
    --row-gap: 0px;
    --column-gap: 20px;
    --margin-top: 1%;
    --margin-bottom: 1%;
    --margin-left: 0%;
    --margin-right: 0%;
    --padding-top: 8px;
    --padding-bottom: 8px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-26377 .elementor-element.elementor-element-789a4e4 img {
    width: 60%;
}

.elementor-26377 .elementor-element.elementor-element-4a553ec .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-26377 .elementor-element.elementor-element-4a553ec .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-26377 .elementor-element.elementor-element-4a553ec {
    --e-icon-list-icon-size: 16px;
    --icon-vertical-offset: 0px;
}

.elementor-26377 .elementor-element.elementor-element-4a553ec .elementor-icon-list-icon {
    padding-right: 0px;
}

.elementor-26377 .elementor-element.elementor-element-4a553ec .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var( --e-global-color-secondary);
}

.elementor-26377 .elementor-element.elementor-element-4a553ec .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-26377 .elementor-element.elementor-element-abb5cd7 {
    --e-search-results-columns: 1;
    --e-search-results-grid-auto-rows: 1fr;
    --e-search-loop-item-equal-height: 100%;
    --e-search-input-padding-block-start: 5px;
    --e-search-input-padding-inline-start: 5px;
    --e-search-input-padding-block-end: 5px;
    --e-search-input-padding-inline-end: 10px;
}

.elementor-26377 .elementor-element.elementor-element-abb5cd7 .e-search-input {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px 5px 5px 5px;
}

.elementor-26377 .elementor-element.elementor-element-63ab1f7 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 19px;
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}

.elementor-26377 .elementor-element.elementor-element-63ab1f7 .elementor-widget-container {
    text-align: center;
}

.elementor-26377 .elementor-element.elementor-element-63ab1f7 .elementor-icon {
    border-radius: 22px 22px 22px 22px;
}

.elementor-26377 .elementor-element.elementor-element-98e639d {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-26377 .elementor-element.elementor-element-2698e82>.elementor-widget-container {
    padding: 5px 4px 4px 5px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-a301c06);
    border-radius: 4px 4px 4px 4px;
}

.elementor-26377 .elementor-element.elementor-element-2698e82 .elementor-icon-list-item:not(:last-child):after {
    content: "";
    border-color: #ddd;
}

.elementor-26377 .elementor-element.elementor-element-2698e82 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child):after {
    border-top-style: solid;
    border-top-width: 1px;
}

.elementor-26377 .elementor-element.elementor-element-2698e82 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
    border-left-style: solid;
}

.elementor-26377 .elementor-element.elementor-element-2698e82 .elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
    border-left-width: 1px;
}

.elementor-26377 .elementor-element.elementor-element-2698e82 .elementor-icon-list-icon i {
    color: var( --e-global-color-secondary);
    transition: color 0.3s;
}

.elementor-26377 .elementor-element.elementor-element-2698e82 .elementor-icon-list-icon svg {
    fill: var( --e-global-color-secondary);
    transition: fill 0.3s;
}

.elementor-26377 .elementor-element.elementor-element-2698e82 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-26377 .elementor-element.elementor-element-2698e82 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-26377 .elementor-element.elementor-element-2698e82 .elementor-icon-list-item>a {
    font-weight: normal;
}

.elementor-26377 .elementor-element.elementor-element-2698e82 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var( --e-global-color-secondary);
}

.elementor-26377 .elementor-element.elementor-element-2698e82 .elementor-icon-list-text {
    transition: color 0.3s;
}

.elementor-26377 .elementor-element.elementor-element-ffce5bb {
    --divider-border-style: solid;
    --divider-color: var( --e-global-color-a301c06);
    --divider-border-width: 1px;
}

.elementor-26377 .elementor-element.elementor-element-ffce5bb .elementor-divider-separator {
    width: 80%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-26377 .elementor-element.elementor-element-ffce5bb .elementor-divider {
    text-align: center;
    padding-block-start: 15px;
    padding-block-end: 15px;
}

.elementor-26377 .elementor-element.elementor-element-867ecba {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --align-items: center;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --margin-top: 0%;
    --margin-bottom: 1%;
    --margin-left: 0%;
    --margin-right: 0%;
}

.elementor-26377 .elementor-element.elementor-element-867ecba:not(.elementor-motion-effects-element-type-background),
.elementor-26377 .elementor-element.elementor-element-867ecba>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-25830b4);
}

.elementor-26377 .elementor-element.elementor-element-960a764 {
    --display: flex;
}

.elementor-26377 .elementor-element.elementor-element-c4db33f .elementor-icon-wrapper {
    text-align: center;
}

.elementor-26377 .elementor-element.elementor-element-c4db33f.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-text);
}

.elementor-26377 .elementor-element.elementor-element-c4db33f.elementor-view-framed .elementor-icon,
.elementor-26377 .elementor-element.elementor-element-c4db33f.elementor-view-default .elementor-icon {
    color: var( --e-global-color-text);
    border-color: var( --e-global-color-text);
}

.elementor-26377 .elementor-element.elementor-element-c4db33f.elementor-view-framed .elementor-icon,
.elementor-26377 .elementor-element.elementor-element-c4db33f.elementor-view-default .elementor-icon svg {
    fill: var( --e-global-color-text);
}

.elementor-26377 .elementor-element.elementor-element-c4db33f.elementor-view-stacked .elementor-icon:hover {
    background-color: var( --e-global-color-b60dfda);
}

.elementor-26377 .elementor-element.elementor-element-c4db33f.elementor-view-framed .elementor-icon:hover,
.elementor-26377 .elementor-element.elementor-element-c4db33f.elementor-view-default .elementor-icon:hover {
    color: var( --e-global-color-b60dfda);
    border-color: var( --e-global-color-b60dfda);
}

.elementor-26377 .elementor-element.elementor-element-c4db33f.elementor-view-framed .elementor-icon:hover,
.elementor-26377 .elementor-element.elementor-element-c4db33f.elementor-view-default .elementor-icon:hover svg {
    fill: var( --e-global-color-b60dfda);
}

.elementor-26377 .elementor-element.elementor-element-5a3152c img {
    width: 50%;
    border-radius: 15px 15px 15px 15px;
}

.elementor-26377 .elementor-element.elementor-element-47c437f .elementor-icon-wrapper {
    text-align: center;
}

.elementor-26377 .elementor-element.elementor-element-47c437f.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-text);
}

.elementor-26377 .elementor-element.elementor-element-47c437f.elementor-view-framed .elementor-icon,
.elementor-26377 .elementor-element.elementor-element-47c437f.elementor-view-default .elementor-icon {
    color: var( --e-global-color-text);
    border-color: var( --e-global-color-text);
}

.elementor-26377 .elementor-element.elementor-element-47c437f.elementor-view-framed .elementor-icon,
.elementor-26377 .elementor-element.elementor-element-47c437f.elementor-view-default .elementor-icon svg {
    fill: var( --e-global-color-text);
}

.elementor-26377 .elementor-element.elementor-element-47c437f.elementor-view-stacked .elementor-icon:hover {
    background-color: var( --e-global-color-b60dfda);
}

.elementor-26377 .elementor-element.elementor-element-47c437f.elementor-view-framed .elementor-icon:hover,
.elementor-26377 .elementor-element.elementor-element-47c437f.elementor-view-default .elementor-icon:hover {
    color: var( --e-global-color-b60dfda);
    border-color: var( --e-global-color-b60dfda);
}

.elementor-26377 .elementor-element.elementor-element-47c437f.elementor-view-framed .elementor-icon:hover,
.elementor-26377 .elementor-element.elementor-element-47c437f.elementor-view-default .elementor-icon:hover svg {
    fill: var( --e-global-color-b60dfda);
}

.elementor-26377 .elementor-element.elementor-element-c015794 {
    --display: flex;
}

.elementor-26377 .elementor-element.elementor-element-2df1be1 {
    --e-search-results-columns: 1;
}

.elementor-theme-builder-content-area {
    height: 400px;
}

.elementor-location-header:before,
.elementor-location-footer:before {
    content: "";
    display: table;
    clear: both;
}

@media(max-width:1024px) {
    .elementor-26377 .elementor-element.elementor-element-ca2fb98 {
        --gap: 0% 4%;
        --row-gap: 0%;
        --column-gap: 4%;
    }
}

@media(min-width:768px) {
    .elementor-26377 .elementor-element.elementor-element-9edb921 {
        --width: 60%;
    }
    .elementor-26377 .elementor-element.elementor-element-ca2fb98 {
        --width: 40%;
    }
    .elementor-26377 .elementor-element.elementor-element-7b552b2 {
        --width: 100%;
    }
}

@media(max-width:767px) {
    .elementor-26377 .elementor-element.elementor-element-ca2fb98 {
        --align-items: center;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    }
    .elementor-26377 .elementor-element.elementor-element-867ecba {
        --justify-content: center;
        --gap: 0% 0%;
        --row-gap: 0%;
        --column-gap: 0%;
        --border-radius: 0px 0px 2px 0px;
        --margin-top: 0%;
        --margin-bottom: 0%;
        --margin-left: 0%;
        --margin-right: 0%;
        --padding-top: 1%;
        --padding-bottom: 1%;
        --padding-left: 2%;
        --padding-right: 2%;
    }
    .elementor-26377 .elementor-element.elementor-element-960a764 {
        --flex-direction: row;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
        --container-widget-height: 100%;
        --container-widget-flex-grow: 1;
        --container-widget-align-self: stretch;
        --flex-wrap-mobile: wrap;
        --justify-content: center;
        --align-items: center;
        --gap: 2px 2px;
        --row-gap: 2px;
        --column-gap: 2px;
        --padding-top: 1px;
        --padding-bottom: 1px;
        --padding-left: 1px;
        --padding-right: 1px;
    }
    .elementor-26377 .elementor-element.elementor-element-c4db33f {
        width: var( --container-widget-width, 10%);
        max-width: 10%;
        --container-widget-width: 10%;
        --container-widget-flex-grow: 0;
    }
    .elementor-26377 .elementor-element.elementor-element-c4db33f .elementor-icon {
        font-size: 20px;
    }
    .elementor-26377 .elementor-element.elementor-element-c4db33f .elementor-icon svg {
        height: 20px;
    }
    .elementor-26377 .elementor-element.elementor-element-5a3152c {
        width: var( --container-widget-width, 65%);
        max-width: 65%;
        --container-widget-width: 65%;
        --container-widget-flex-grow: 0;
        text-align: center;
    }
    .elementor-26377 .elementor-element.elementor-element-5a3152c img {
        width: 60%;
        border-radius: 2px 2px 2px 2px;
    }
    .elementor-26377 .elementor-element.elementor-element-47c437f {
        width: var( --container-widget-width, 10%);
        max-width: 10%;
        --container-widget-width: 10%;
        --container-widget-flex-grow: 0;
    }
    .elementor-26377 .elementor-element.elementor-element-47c437f .elementor-icon {
        font-size: 20px;
    }
    .elementor-26377 .elementor-element.elementor-element-47c437f .elementor-icon svg {
        height: 20px;
    }
    .elementor-26377 .elementor-element.elementor-element-2df1be1>.elementor-widget-container {
        padding: 3px 3px 3px 3px;
    }
    .elementor-26377 .elementor-element.elementor-element-2df1be1 .e-search-input {
        border-radius: 5px 5px 5px 5px;
    }
    .elementor-26377 .elementor-element.elementor-element-2df1be1 {
        --e-search-input-padding-block-start: 5px;
        --e-search-input-padding-inline-start: 10px;
        --e-search-input-padding-block-end: 5px;
        --e-search-input-padding-inline-end: 10px;
        --e-search-submit-margin-inline-start: 1px;
        --e-search-results-border-radius: 5px 5px 5px 5px;
        --e-search-results-padding: 5px 5px 5px 5px;
    }
}