.elementor-6901 .elementor-element.elementor-element-51f25aa {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
}

.elementor-6901 .elementor-element.elementor-element-0114f55 > .elementor-widget-container {
    padding: 0% 2% 0% 2%;
}

.elementor-6901 .elementor-element.elementor-element-a17e057 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --align-items: center;
    --gap: 01px 01px;
    --row-gap: 01px;
    --column-gap: 01px;
    --margin-top: 0%;
    --margin-bottom: 1%;
    --margin-left: 0%;
    --margin-right: 0%;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-left: 35px;
    --padding-right: 35px;
}

.elementor-6901 .elementor-element.elementor-element-a17e057:not(.elementor-motion-effects-element-type-background), .elementor-6901 .elementor-element.elementor-element-a17e057 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #F3F0F0;
}

.elementor-6901 .elementor-element.elementor-element-a5b9d86 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-6901 .elementor-element.elementor-element-bfaf8db .elementor-field-group {
    padding-right: calc( 10px/2 );
    padding-left: calc( 10px/2 );
    margin-bottom: 10px;
}

.elementor-6901 .elementor-element.elementor-element-bfaf8db .elementor-form-fields-wrapper {
    margin-left: calc( -10px/2 );
    margin-right: calc( -10px/2 );
    margin-bottom: -10px;
}

.elementor-6901 .elementor-element.elementor-element-bfaf8db .elementor-field-group.recaptcha_v3-bottomleft, .elementor-6901 .elementor-element.elementor-element-bfaf8db .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-6901 .elementor-element.elementor-element-bfaf8db .elementor-labels-inline .elementor-field-group > label {
    padding-left: 0px;
}

body:not(.rtl) .elementor-6901 .elementor-element.elementor-element-bfaf8db .elementor-labels-inline .elementor-field-group > label {
    padding-right: 0px;
}

body .elementor-6901 .elementor-element.elementor-element-bfaf8db .elementor-labels-above .elementor-field-group > label {
    padding-bottom: 0px;
}

.elementor-6901 .elementor-element.elementor-element-bfaf8db .elementor-field-type-html {
    padding-bottom: 0px;
}

.elementor-6901 .elementor-element.elementor-element-bfaf8db .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #ffffff;
}

.elementor-6901 .elementor-element.elementor-element-bfaf8db .elementor-field-group .elementor-select-wrapper select {
    background-color: #ffffff;
}

.elementor-6901 .elementor-element.elementor-element-bfaf8db .e-form__buttons__wrapper__button-next {
    background-color: var( --e-global-color-secondary );
    color: #ffffff;
}

.elementor-6901 .elementor-element.elementor-element-bfaf8db .elementor-button[type="submit"] {
    background-color: var( --e-global-color-secondary );
    color: #ffffff;
}

.elementor-6901 .elementor-element.elementor-element-bfaf8db .elementor-button[type="submit"] svg * {
    fill: #ffffff;
}

.elementor-6901 .elementor-element.elementor-element-bfaf8db .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-6901 .elementor-element.elementor-element-bfaf8db .e-form__buttons__wrapper__button-next:hover {
    background-color: var( --e-global-color-primary );
    color: #ffffff;
}

.elementor-6901 .elementor-element.elementor-element-bfaf8db .elementor-button[type="submit"]:hover {
    background-color: var( --e-global-color-primary );
    color: #ffffff;
}

.elementor-6901 .elementor-element.elementor-element-bfaf8db .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-6901 .elementor-element.elementor-element-bfaf8db .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-6901 .elementor-element.elementor-element-bfaf8db {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-6901 .elementor-element.elementor-element-6631b25 {
    --display: flex;
}

.elementor-6901 .elementor-element.elementor-element-25e2539 .elementor-heading-title {
    text-decoration: underline;
}

.elementor-6901 .elementor-element.elementor-element-bed3d7a {
    --display: flex;
}

.elementor-6901 .elementor-element.elementor-element-05da55b {
    --display: flex;
}

.elementor-6901 .elementor-element.elementor-element-a3b6d04 {
    --display: flex;
}

.elementor-6901 .elementor-element.elementor-element-26cd478 {
    --n-accordion-title-font-size: 1rem;
    --n-accordion-item-title-space-between: 0px;
    --n-accordion-item-title-distance-from-content: 0px;
    --n-accordion-icon-size: 15px;
}

.elementor-6901 .elementor-element.elementor-element-9adf195 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --align-items: stretch;
    --gap: 10px 10px;
    --row-gap: 10px;
    --column-gap: 10px;
}

.elementor-6901 .elementor-element.elementor-element-06d42ce {
    --display: flex;
}

.elementor-6901 .elementor-element.elementor-element-bec5801 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 30px 30px;
    --row-gap: 30px;
    --column-gap: 30px;
}

.elementor-6901 .elementor-element.elementor-element-cf67773 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 2px 2px 2px 2px;
}

.elementor-6901 .elementor-element.elementor-element-cf67773 {
    --icon-box-icon-margin: 20px;
}

.elementor-6901 .elementor-element.elementor-element-cf67773 .elementor-icon-box-title {
    margin-bottom: 20px;
    color: var( --e-global-color-text );
}

.elementor-6901 .elementor-element.elementor-element-cf67773.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-primary );
}

.elementor-6901 .elementor-element.elementor-element-cf67773.elementor-view-framed .elementor-icon, .elementor-6901 .elementor-element.elementor-element-cf67773.elementor-view-default .elementor-icon {
    fill: var( --e-global-color-primary );
    color: var( --e-global-color-primary );
    border-color: var( --e-global-color-primary );
}

.elementor-6901 .elementor-element.elementor-element-cf67773 .elementor-icon {
    font-size: 46px;
}

.elementor-6901 .elementor-element.elementor-element-cf67773 .elementor-icon-box-title, .elementor-6901 .elementor-element.elementor-element-cf67773 .elementor-icon-box-title a {
    font-size: 25px;
    font-weight: 500;
}

.elementor-6901 .elementor-element.elementor-element-cf67773 .elementor-icon-box-description {
    color: var( --e-global-color-text );
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
}

.elementor-6901 .elementor-element.elementor-element-2209e9f > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 2px 2px 2px 2px;
}

.elementor-6901 .elementor-element.elementor-element-2209e9f {
    --icon-box-icon-margin: 20px;
}

.elementor-6901 .elementor-element.elementor-element-2209e9f .elementor-icon-box-title {
    margin-bottom: 20px;
    color: var( --e-global-color-text );
}

.elementor-6901 .elementor-element.elementor-element-2209e9f.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-primary );
}

.elementor-6901 .elementor-element.elementor-element-2209e9f.elementor-view-framed .elementor-icon, .elementor-6901 .elementor-element.elementor-element-2209e9f.elementor-view-default .elementor-icon {
    fill: var( --e-global-color-primary );
    color: var( --e-global-color-primary );
    border-color: var( --e-global-color-primary );
}

.elementor-6901 .elementor-element.elementor-element-2209e9f .elementor-icon {
    font-size: 46px;
}

.elementor-6901 .elementor-element.elementor-element-2209e9f .elementor-icon-box-title, .elementor-6901 .elementor-element.elementor-element-2209e9f .elementor-icon-box-title a {
    font-size: 25px;
    font-weight: 500;
}

.elementor-6901 .elementor-element.elementor-element-2209e9f .elementor-icon-box-description {
    color: var( --e-global-color-text );
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
}

.elementor-6901 .elementor-element.elementor-element-f08f769 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 2px 2px 2px 2px;
}

.elementor-6901 .elementor-element.elementor-element-f08f769 {
    --icon-box-icon-margin: 20px;
}

.elementor-6901 .elementor-element.elementor-element-f08f769 .elementor-icon-box-title {
    margin-bottom: 20px;
    color: var( --e-global-color-text );
}

.elementor-6901 .elementor-element.elementor-element-f08f769.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-primary );
}

.elementor-6901 .elementor-element.elementor-element-f08f769.elementor-view-framed .elementor-icon, .elementor-6901 .elementor-element.elementor-element-f08f769.elementor-view-default .elementor-icon {
    fill: var( --e-global-color-primary );
    color: var( --e-global-color-primary );
    border-color: var( --e-global-color-primary );
}

.elementor-6901 .elementor-element.elementor-element-f08f769 .elementor-icon {
    font-size: 46px;
}

.elementor-6901 .elementor-element.elementor-element-f08f769 .elementor-icon-box-title, .elementor-6901 .elementor-element.elementor-element-f08f769 .elementor-icon-box-title a {
    font-size: 25px;
    font-weight: 500;
}

.elementor-6901 .elementor-element.elementor-element-f08f769 .elementor-icon-box-description {
    color: var( --e-global-color-text );
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
}

@media(max-width: 1024px) {
    .elementor-6901 .elementor-element.elementor-element-a5b9d86 {
        --margin-top:0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-6901 .elementor-element.elementor-element-6631b25 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 42px;
        --margin-right: 0px;
    }

    .elementor-6901 .elementor-element.elementor-element-bec5801 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 42px;
        --margin-right: 0px;
    }

    .elementor-6901 .elementor-element.elementor-element-cf67773 .elementor-icon-box-title {
        margin-bottom: 28px;
    }

    .elementor-6901 .elementor-element.elementor-element-cf67773 .elementor-icon-box-title, .elementor-6901 .elementor-element.elementor-element-cf67773 .elementor-icon-box-title a {
        font-size: 20px;
    }

    .elementor-6901 .elementor-element.elementor-element-cf67773 .elementor-icon-box-description {
        font-size: 13px;
    }

    .elementor-6901 .elementor-element.elementor-element-2209e9f .elementor-icon-box-title {
        margin-bottom: 28px;
    }

    .elementor-6901 .elementor-element.elementor-element-2209e9f .elementor-icon-box-title, .elementor-6901 .elementor-element.elementor-element-2209e9f .elementor-icon-box-title a {
        font-size: 20px;
    }

    .elementor-6901 .elementor-element.elementor-element-2209e9f .elementor-icon-box-description {
        font-size: 13px;
    }

    .elementor-6901 .elementor-element.elementor-element-f08f769 .elementor-icon-box-title {
        margin-bottom: 28px;
    }

    .elementor-6901 .elementor-element.elementor-element-f08f769 .elementor-icon-box-title, .elementor-6901 .elementor-element.elementor-element-f08f769 .elementor-icon-box-title a {
        font-size: 20px;
    }

    .elementor-6901 .elementor-element.elementor-element-f08f769 .elementor-icon-box-description {
        font-size: 13px;
    }
}

@media(min-width: 768px) {
    .elementor-6901 .elementor-element.elementor-element-a5b9d86 {
        --width:60%;
    }

    .elementor-6901 .elementor-element.elementor-element-6631b25 {
        --width: 40%;
    }

    .elementor-6901 .elementor-element.elementor-element-bec5801 {
        --width: 100%;
    }
}

@media(max-width: 1024px) and (min-width:768px) {
    .elementor-6901 .elementor-element.elementor-element-a5b9d86 {
        --width:60%;
    }

    .elementor-6901 .elementor-element.elementor-element-6631b25 {
        --width: 40%;
    }

    .elementor-6901 .elementor-element.elementor-element-bec5801 {
        --width: 40%;
    }
}

@media(max-width: 767px) {
    .elementor-6901 .elementor-element.elementor-element-a17e057 {
        --margin-top:80px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-6901 .elementor-element.elementor-element-a5b9d86 {
        --margin-top: 100px;
        --margin-bottom: 100px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-6901 .elementor-element.elementor-element-6631b25 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-6901 .elementor-element.elementor-element-bec5801 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-6901 .elementor-element.elementor-element-cf67773 {
        width: 100%;
        max-width: 100%;
    }

    .elementor-6901 .elementor-element.elementor-element-cf67773 > .elementor-widget-container {
        margin: 30px 0px 0px 0px;
    }

    .elementor-6901 .elementor-element.elementor-element-cf67773 .elementor-icon-box-title {
        margin-bottom: 10px;
    }

    .elementor-6901 .elementor-element.elementor-element-2209e9f {
        width: 100%;
        max-width: 100%;
    }

    .elementor-6901 .elementor-element.elementor-element-2209e9f > .elementor-widget-container {
        margin: 30px 0px 0px 0px;
    }

    .elementor-6901 .elementor-element.elementor-element-2209e9f .elementor-icon-box-title {
        margin-bottom: 10px;
    }

    .elementor-6901 .elementor-element.elementor-element-f08f769 {
        width: 100%;
        max-width: 100%;
    }

    .elementor-6901 .elementor-element.elementor-element-f08f769 > .elementor-widget-container {
        margin: 30px 0px 0px 0px;
    }

    .elementor-6901 .elementor-element.elementor-element-f08f769 .elementor-icon-box-title {
        margin-bottom: 10px;
    }
}

/* Start custom CSS for icon-box, class: .elementor-element-cf67773 */
@media only screen and (min-width: 767px) {
    .elementor-6901 .elementor-element.elementor-element-cf67773 .elementor-icon-box-description {
        margin-left: -53px;
    }
}

.elementor-6901 .elementor-element.elementor-element-cf67773 .elementor-icon-box-title {
    margin-top: 0;
}

/* End custom CSS */
/* Start custom CSS for icon-box, class: .elementor-element-2209e9f */
@media only screen and (min-width: 767px) {
    .elementor-6901 .elementor-element.elementor-element-2209e9f .elementor-icon-box-description {
        margin-left: -53px;
    }
}

.elementor-6901 .elementor-element.elementor-element-2209e9f .elementor-icon-box-title {
    margin-top: 0;
}

/* End custom CSS */
/* Start custom CSS for icon-box, class: .elementor-element-f08f769 */
@media only screen and (min-width: 767px) {
    .elementor-6901 .elementor-element.elementor-element-f08f769 .elementor-icon-box-description {
        margin-left: -53px;
    }
}

.elementor-6901 .elementor-element.elementor-element-f08f769 .elementor-icon-box-title {
    margin-top: 0;
}

/* End custom CSS */
